<p>Componente SearchIMG</p>
<div #search>
    <form (ngSubmit)="searchImages(searchTerm.value)">
        <input type="text" #searchTerm placeholder="Buscar imágenes en Pixabay">
        <button type="submit">Buscar</button>
    </form>
</div>

<div class="image-grid">
    <div class="image-item" *ngFor="let imageUrl of imageUrls">
      <img [src]="imageUrl" (click)="zoomImage(imageUrl)" [class.zoomed]="zoomedImageUrl === imageUrl" alt="Imagen de Pixabay">
    </div>
</div>

<img *ngIf="zoomedImageUrl" [src]="zoomedImageUrl" class="zoomed" (click)="zoomedImageUrl = null">