.image-grid {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
  
  .image-item {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }

  img {
    width: 100%;
    height: 20em;
  }

  .zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 800px;
  }